html, *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}

a {
    text-decoration: none;
}

body {
    background-color: #e8e8e8;
    font-family: sans-serif;
    color: #273d46;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding: 0;
    padding-top: 161px;
    position: relative;
    padding-bottom: 200px;
    z-index: 2;
}

ul {
    list-style-image: url(list.png);
    margin: 0;
    padding: 0;
}

.text-style li:nth-child(1) {
    text-decoration: line-through;
}

.text-style li:nth-child(2) {
    font-weight: bold;
}

.text-style li:nth-child(3) {
    font-style: italic;
}

.text-style li:nth-child(4) {
    text-transform: uppercase;
}

.text-hover {
    margin-top: 81px;
}

.text-hover li:hover {
    color: #d55a5a;
    list-style-image: url(list-red.png);
}

.link {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2.8px;
    color: #fff;
    background-color: rgb(128, 183, 179);
    padding: 3px 59px 3px 30px;
    border-radius: 44px;
    box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
    margin-top: 137px;
    margin-bottom: 125px;
}

.link:hover {
    background-color: #3a5856;
}

.link:active {
    background-color: #818181;
}

.link::after {
    content: url(arr.png);
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 27px;
}

input[type="text"] {
    width: 292px;
    height: 50px;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}

input[type="text"]:focus {
    box-shadow: 0 0 20px rgba(127, 190, 213, 0.93);
    border: 1px solid #7fbed5;
}

input[type="text"]+input[type="text"] {
    margin-left: 50px;
}

.line::first-line {
    color: red;
}

.letter::first-letter {
    color: red;
}

.double_border {
    display: inline-block;
    margin-top: 50px;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 4px solid #2981a1;
    position: relative;
    z-index: 4;
}

.double_border::before {
    content: '';
    width: 103%;
    height: 118%;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: 4px solid #154252;
    z-index: 1;
}
.text-style li::selection{
	color: red;
	background-color: yellow;
	
}
.text-hover li::selection{
	color: yellow;
	background-color: red;
	
}
p::selection {
	color: green;
	background-color: grey;
}